* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

*:before,
*:after {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}
