.dashboard-layout {
  display: grid;
  width: 1320px;
  height: 880px;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  box-shadow: 0px 49px 32px -19px rgba(56, 56, 150, 0.15);
  border-radius: $large;
  margin: $xl auto;

  main {
    grid-column: span 4 / span 4;
  }
}
