.title {
  font-size: $text-xl;
  color: $bunting-blue;
  font-weight: 700;
  line-height: $xl;

  &.-sub {
    font-size: $text-md;
    font-weight: $font-bold;
    color: $bunting;

    &.-description {
      font-size: $text-sm;
      color: $kimberly;
    }
  }
}
