$mercury-white: #e5e5e5;
$bunting-blue: #10153e;
$athensGray: #f7f7fa;
$waikawaGray: #60679f;
$bunting: #10153e;
$snuff: #e3e5f1;
$white: white;

$titanWhite: #f8f8ff;
$bunting: #1a194d;
$kimberly: #62618f;
$flamingo: #ee4d38;
$flamingo-text: #ee6338;
$ghost: #CBCBD9;

